.item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
}

.info {
  width: calc((100% - 30px) / 2);
  margin-right: 20px;
  padding: 5px;
  border: 1px solid rgb(106, 153, 207);
}

.button {
  width: 50px;

  border: 1px solid rgb(106, 153, 207);
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: rgba(148, 255, 212, 0.8);
  border: 1px solid rgb(106, 153, 207);
  outline: 1px solid rgb(106, 153, 207);
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  background-color: rgba(106, 153, 207, 0.3);
  border: 1px solid rgb(106, 153, 207);
  outline: 1px solid rgb(106, 153, 207);

  margin-right: 20px;
}
